<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Busko Administrator</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
</head>
<body>

	<!-- Page header -->
	<section class="hero" id="navigation">
		<div class="hero-head">
			<nav class="navbar">
				<div class="container">
					<div class="navbar-brand">
						<a class="navbar-item" href="/"><h1 style="font-weight: bold;">Busko Admin</h1></a>
					</div>
				</div>
			</nav>
		</div>
	</section>

	<section class="section">
		<div class="container">
			<div class="columns">
				<div class="column is-3">
					<aside class="menu">
					<p class="menu-label">General</p>

					<ul class="menu-list">
						{% if plugin is not defined %}
							<li><a href="{{ url_for('sendAdminDashboard') }}" class="is-active">Dashboard</a></li>
						{% else %}
							<li><a href="{{ url_for('sendAdminDashboard') }}">Dashboard</a></li>
						{% endif %}
					</ul>

					<p class="menu-label">Plugins</p>

					<ul class="menu-list">
						{% set pluginName = plugin.__class__.__name__ or 'Plugin' %}
						{% for plugin in plugins %}
							{% if plugin.__class__.__name__ == pluginName %}
								<li><a href="{{url_for('sendPluginPage', pluginName=plugin.__class__.__name__)}}" class="is-active">{{ plugin.__class__.__name__ }}</a></li>
							{% else %}
								<li><a href="{{url_for('sendPluginPage', pluginName=plugin.__class__.__name__)}}">{{ plugin.__class__.__name__ }}</a></li>
							{% endif %}
						{% endfor %}
					</ul>

					</aside>
				</div>

				<div class="column is-9">
					{% block content %}
					{% endblock %}
				</div>
			</div>
		</div>
	</section>

</body>
</html>